.search-input-field {
  font-size: 1.0666666667rem;
  line-height: 1.25;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  width: 100%;
  border-radius: 0.5333333333rem;
  border: 1px solid #c3d0d8;
  padding: 0.6rem 2.6666666667rem 0.6rem 2.6666666667rem;
}

.search-button {
  max-height: 47px;
  font-size: 1.0666666667rem;
  line-height: 1.25;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: white;
  border-radius: 0.5333333333rem;
  border: 1px solid #c3d0d8;
  padding: 0.6rem 2.6666666667rem 0.6rem 2.6666666667rem;
  &:hover {
    background-color: #c3ccd1;
    color: rgb(16, 13, 184);
  }
}

.not-searching {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
